In [7]:
import pandas as pd

seasons = [f'{year}-{str(year + 1)[-2:]}' for year in range(1996, 2024)]
seasons_end = [year + 1 for year in range(1996, 2024)]

season_data = {'season': seasons, 'season_end': seasons_end}

seasons_df = pd.DataFrame(season_data)
seasons_df

     season  season_end
0   1996-97        1997
1   1997-98        1998
2   1998-99        1999
3   1999-00        2000
4   2000-01        2001
5   2001-02        2002
6   2002-03        2003
7   2003-04        2004
8   2004-05        2005
9   2005-06        2006
10  2006-07        2007
11  2007-08        2008
12  2008-09        2009
13  2009-10        2010
14  2010-11        2011
15  2011-12        2012
16  2012-13        2013
17  2013-14        2014
18  2014-15        2015
19  2015-16        2016
20  2016-17        2017
21  2017-18        2018
22  2018-19        2019
23  2019-20        2020
24  2020-21        2021
25  2021-22        2022
26  2022-23        2023
27  2023-24        2024

In [9]:
seasons_df.to_csv('seasons_translation.csv', index=False)