In [1]:
import requests as rq
import pandas as pd
from io import StringIO
from bs4 import BeautifulSoup
import random
import time
from IPython.display import clear_output

In [2]:
# all_years = pd.DataFrame()
# for season in range(2023, 2019, -1):
#     url = f'https://www.spotrac.com/nba/cap/{season}'
#     site_request = rq.get(url).text
#     year = pd.read_html(StringIO(str(site_request)))[0]
#     year['Season'] = season
#     all_years = pd.concat([all_years, year], ignore_index=True)
#     time.sleep(5)

In [3]:
try:
    all_years.to_csv('team_salary_caps.csv', index=False)
except:
    pass

In [4]:
url = f'https://www.spotrac.com/nba/cba'
site_request = rq.get(url).text
cap = pd.read_html(StringIO(str(site_request)))[0]
cap

,Year,Cap Maximum,Cap $ +/-,Cap % +/-,Highest Team Cap,Lowest Team Cap,Highest Player Cap
0,2023,"$136,021,000","$12,366,000",10.00%,"Golden State Warriors $226,403,468","Detroit Pistons $133,518,463","Stephen Curry $51,915,615"
1,2022,"$123,655,000","$11,241,000",10.00%,"Golden State Warriors $199,320,856","San Antonio Spurs $101,649,048","Stephen Curry $48,070,014"
2,2021,"$112,414,000","$3,274,000",3.00%,"Golden State Warriors $184,024,769","Oklahoma City Thunder $90,513,233","Stephen Curry $45,780,966"
3,2020,"$109,140,000",$0,0.00%,"Golden State Warriors $175,825,052","New York Knicks $101,969,879","Stephen Curry $43,006,362"
4,2019,"$109,140,000","$7,271,000",7.14%,"Houston Rockets $151,594,903","New York Knicks $110,055,762","Stephen Curry $40,231,758"
5,2018,"$101,869,000","$2,776,000",2.80%,"Golden State Warriors $154,587,831","Dallas Mavericks $87,760,060","Stephen Curry $37,457,154"
6,2017,"$99,093,000","$4,950,000",5.26%,"Brooklyn Nets $150,632,875","Chicago Bulls $90,105,625","Stephen Curry $34,682,550"
7,2016,"$94,143,000","$24,143,000",34.49%,"Brooklyn Nets $138,398,320","Minnesota Timberwolves $71,566,819","LeBron James $30,963,450"
8,2015,"$70,000,000","$6,935,000",11.00%,"Cleveland Cavaliers $107,975,670","New York Knicks $59,812,260","Kobe Bryant $25,000,000"
9,2014,"$63,065,000","$4,386,000",7.47%,"Brooklyn Nets $92,047,946","Milwaukee Bucks $55,114,481","Kobe Bryant $23,500,000"
10,2013,"$58,679,000","$635,000",1.09%,"Brooklyn Nets $102,928,076","Orlando Magic $53,516,731","Kobe Bryant $30,453,805"
11,2012,"$58,044,000",$0,0.00%,"Los Angeles Lakers $99,847,565","Sacramento Kings $53,575,342","Kobe Bryant $27,849,149"
12,2011,"$58,044,000","$4,000",0.01%,"Los Angeles Lakers $81,659,758","Sacramento Kings $36,652,311","Kobe Bryant $25,244,493"
13,2010,"$58,040,000","$340,000",0.59%,NaN,NaN,NaN
14,2009,"$57,700,000","$-980,000",-1.67%,NaN,NaN,NaN
15,2008,"$58,680,000","$3,050,000",5.48%,NaN,NaN,NaN
16,2007,"$55,630,000","$2,495,000",4.70%,NaN,NaN,NaN
17,2006,"$53,135,000","$3,635,000",7.34%,NaN,NaN,NaN
18,2005,"$49,500,000","$5,630,000",12.83%,NaN,NaN,NaN
19,2004,"$43,870,000","$30,000",0.07%,NaN,NaN,NaN
20,2003,"$43,840,000","$3,569,000",8.86%,NaN,NaN,NaN
21,2002,"$40,271,000","$-2,229,000",-5.24%,NaN,NaN,NaN
22,2001,"$42,500,000","$7,000,000",19.72%,NaN,NaN,NaN
23,2000,"$35,500,000","$1,500,000",4.41%,NaN,NaN,NaN
24,1999,"$34,000,000","$4,000,000",13.33%,NaN,NaN,NaN
25,1998,"$30,000,000","$3,100,000",11.52%,NaN,NaN,NaN
26,1997,"$26,900,000","$2,207,000",8.94%,NaN,NaN,NaN
27,1996,"$24,693,000","$1,693,000",7.36%,NaN,NaN,NaN
28,1995,"$23,000,000","$7,036,000",44.07%,NaN,NaN,NaN
29,1994,"$15,964,000","$789,000",5.20%,NaN,NaN,NaN
30,1993,"$15,175,000","$1,175,000",8.39%,NaN,NaN,NaN
31,1992,"$14,000,000","$1,500,000",12.00%,NaN,NaN,NaN
32,1991,"$12,500,000","$629,000",5.30%,NaN,NaN,NaN
33,1990,"$11,871,000","$2,069,000",21.11%,NaN,NaN,NaN
34,1989,"$9,802,000","$2,479,000",33.85%,NaN,NaN,NaN
35,1988,"$7,323,000","$1,159,000",18.80%,NaN,NaN,NaN
36,1987,"$6,164,000","$1,219,000",24.65%,NaN,NaN,NaN
37,1986,"$4,945,000","$712,000",16.82%,NaN,NaN,NaN
38,1985,"$4,233,000","$633,000",17.58%,NaN,NaN,NaN
39,1984,"$3,600,000",NaN,NaN,NaN,NaN,NaN

In [5]:
cap

,Year,Cap Maximum,Cap $ +/-,Cap % +/-,Highest Team Cap,Lowest Team Cap,Highest Player Cap
0,2023,"$136,021,000","$12,366,000",10.00%,"Golden State Warriors $226,403,468","Detroit Pistons $133,518,463","Stephen Curry $51,915,615"
1,2022,"$123,655,000","$11,241,000",10.00%,"Golden State Warriors $199,320,856","San Antonio Spurs $101,649,048","Stephen Curry $48,070,014"
2,2021,"$112,414,000","$3,274,000",3.00%,"Golden State Warriors $184,024,769","Oklahoma City Thunder $90,513,233","Stephen Curry $45,780,966"
3,2020,"$109,140,000",$0,0.00%,"Golden State Warriors $175,825,052","New York Knicks $101,969,879","Stephen Curry $43,006,362"
4,2019,"$109,140,000","$7,271,000",7.14%,"Houston Rockets $151,594,903","New York Knicks $110,055,762","Stephen Curry $40,231,758"
5,2018,"$101,869,000","$2,776,000",2.80%,"Golden State Warriors $154,587,831","Dallas Mavericks $87,760,060","Stephen Curry $37,457,154"
6,2017,"$99,093,000","$4,950,000",5.26%,"Brooklyn Nets $150,632,875","Chicago Bulls $90,105,625","Stephen Curry $34,682,550"
7,2016,"$94,143,000","$24,143,000",34.49%,"Brooklyn Nets $138,398,320","Minnesota Timberwolves $71,566,819","LeBron James $30,963,450"
8,2015,"$70,000,000","$6,935,000",11.00%,"Cleveland Cavaliers $107,975,670","New York Knicks $59,812,260","Kobe Bryant $25,000,000"
9,2014,"$63,065,000","$4,386,000",7.47%,"Brooklyn Nets $92,047,946","Milwaukee Bucks $55,114,481","Kobe Bryant $23,500,000"
10,2013,"$58,679,000","$635,000",1.09%,"Brooklyn Nets $102,928,076","Orlando Magic $53,516,731","Kobe Bryant $30,453,805"
11,2012,"$58,044,000",$0,0.00%,"Los Angeles Lakers $99,847,565","Sacramento Kings $53,575,342","Kobe Bryant $27,849,149"
12,2011,"$58,044,000","$4,000",0.01%,"Los Angeles Lakers $81,659,758","Sacramento Kings $36,652,311","Kobe Bryant $25,244,493"
13,2010,"$58,040,000","$340,000",0.59%,NaN,NaN,NaN
14,2009,"$57,700,000","$-980,000",-1.67%,NaN,NaN,NaN
15,2008,"$58,680,000","$3,050,000",5.48%,NaN,NaN,NaN
16,2007,"$55,630,000","$2,495,000",4.70%,NaN,NaN,NaN
17,2006,"$53,135,000","$3,635,000",7.34%,NaN,NaN,NaN
18,2005,"$49,500,000","$5,630,000",12.83%,NaN,NaN,NaN
19,2004,"$43,870,000","$30,000",0.07%,NaN,NaN,NaN
20,2003,"$43,840,000","$3,569,000",8.86%,NaN,NaN,NaN
21,2002,"$40,271,000","$-2,229,000",-5.24%,NaN,NaN,NaN
22,2001,"$42,500,000","$7,000,000",19.72%,NaN,NaN,NaN
23,2000,"$35,500,000","$1,500,000",4.41%,NaN,NaN,NaN
24,1999,"$34,000,000","$4,000,000",13.33%,NaN,NaN,NaN
25,1998,"$30,000,000","$3,100,000",11.52%,NaN,NaN,NaN
26,1997,"$26,900,000","$2,207,000",8.94%,NaN,NaN,NaN
27,1996,"$24,693,000","$1,693,000",7.36%,NaN,NaN,NaN
28,1995,"$23,000,000","$7,036,000",44.07%,NaN,NaN,NaN
29,1994,"$15,964,000","$789,000",5.20%,NaN,NaN,NaN
30,1993,"$15,175,000","$1,175,000",8.39%,NaN,NaN,NaN
31,1992,"$14,000,000","$1,500,000",12.00%,NaN,NaN,NaN
32,1991,"$12,500,000","$629,000",5.30%,NaN,NaN,NaN
33,1990,"$11,871,000","$2,069,000",21.11%,NaN,NaN,NaN
34,1989,"$9,802,000","$2,479,000",33.85%,NaN,NaN,NaN
35,1988,"$7,323,000","$1,159,000",18.80%,NaN,NaN,NaN
36,1987,"$6,164,000","$1,219,000",24.65%,NaN,NaN,NaN
37,1986,"$4,945,000","$712,000",16.82%,NaN,NaN,NaN
38,1985,"$4,233,000","$633,000",17.58%,NaN,NaN,NaN
39,1984,"$3,600,000",NaN,NaN,NaN,NaN,NaN

In [6]:
cap_years = cap[['Year', 'Cap Maximum']]

In [7]:
def end_of_year(row):
    return row['Year'] + 1

cap_years.loc[:, 'Year'] = cap_years.apply(end_of_year, axis=1)
cap_years = cap_years.rename(columns={'Year': 'Season'})
cap_years

    Season   Cap Maximum
0     2024  $136,021,000
1     2023  $123,655,000
2     2022  $112,414,000
3     2021  $109,140,000
4     2020  $109,140,000
5     2019  $101,869,000
6     2018   $99,093,000
7     2017   $94,143,000
8     2016   $70,000,000
9     2015   $63,065,000
10    2014   $58,679,000
11    2013   $58,044,000
12    2012   $58,044,000
13    2011   $58,040,000
14    2010   $57,700,000
15    2009   $58,680,000
16    2008   $55,630,000
17    2007   $53,135,000
18    2006   $49,500,000
19    2005   $43,870,000
20    2004   $43,840,000
21    2003   $40,271,000
22    2002   $42,500,000
23    2001   $35,500,000
24    2000   $34,000,000
25    1999   $30,000,000
26    1998   $26,900,000
27    1997   $24,693,000
28    1996   $23,000,000
29    1995   $15,964,000
30    1994   $15,175,000
31    1993   $14,000,000
32    1992   $12,500,000
33    1991   $11,871,000
34    1990    $9,802,000
35    1989    $7,323,000
36    1988    $6,164,000
37    1987    $4,945,000
38    1986    $4,233,000
39    1985    $3,600,000

In [9]:
cap_years.to_csv('./datasets/salary_cap.csv', index=False)