In [1]:
import requests as rq
import pandas as pd
from io import StringIO
from bs4 import BeautifulSoup
import random
import time
from IPython.display import clear_output

In [2]:
url = f'https://www.spotrac.com/nba/cba/tax/'
site_request = rq.get(url).text
luxury_tax = pd.read_html(StringIO(str(site_request)), header=0)[0]
luxury_tax

,Year,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Total
0,Lux Tax Threshold,$52.88M,$54.56M,$0.00M,$61.70M,$65.42M,$67.87M,$71.15M,$69.92M,$70.31M,...,$84.74M,$113.29M,$119.27M,$123.73M,$132.63M,$132.63M,$136.61M,$150.27M,$165.29M,NaN
1,NaN,24.37,39.87,-,37.25,45.14,19.72,23.74,5.2,-,...,-,-,-,-,-,-,-,-,-,248.55
2,NaN,-,-,-,-,-,14.01,13.71,15.41,-,...,54,24.5,50.7,-,-,-,-,-,-,179.29
3,NaN,19.5,25.03,-,17.33,7.2,19.61,23.61,17.58,18.92,...,-,-,-,-,-,-,-,-,-,151.52
4,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,123.23
5,NaN,51.97,28.85,-,-,-,-,5.899,-,-,...,-,-,-,15,5.082,-,-,-,-,106.80
6,NaN,-,-,-,-,-,-,-,-,-,...,14.5,-,25.4,61.6,2.102,-,-,-,-,106.39
7,NaN,5.18,-,-,-,-,8.32,-,3.04,-,...,-,-,-,-,2.461,-,-,-,-,52.91
8,NaN,-,1.3,-,-,-,8.22,8.29,14.93,5.69,...,-,-,-,3.4,-,-,-,-,-,50.38
9,NaN,-,-,-,7.76,-,-,-,11.05,20.18,...,-,-,-,-,-,-,-,-,-,38.99
10,NaN,2.68,4.09,-,-,-,-,-,-,-,...,-,-,-,25.2,-,-,-,-,-,31.97
11,NaN,17.38,13.14,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,30.52
12,NaN,-,-,-,-,-,-,-,-,-,...,19.9,3.33,-,-,-,-,-,-,-,29.36
13,NaN,6.03,17.63,-,-,1,-,-,-,-,...,-,-,-,-,0.498,-,-,-,-,25.16
14,NaN,-,-,-,-,2.02,13.57,-,5.56,-,...,-,-,-,-,-,-,-,-,-,21.15
15,NaN,12.76,5.1,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,17.86
16,NaN,0.19,-,-,0.9,0.2,-,-,8.81,-,...,4.9,-,-,-,-,-,-,-,-,17.52
17,NaN,1.89,-,-,-,-,3.87,4.92,4.96,-,...,-,-,-,-,-,-,-,-,-,15.64
18,NaN,7.55,-,-,3.74,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,11.29
19,NaN,0.89,3.32,-,4.67,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,8.88
20,NaN,-,-,-,-,-,-,-,3.11,5,...,-,-,-,-,-,-,-,-,-,8.11
21,NaN,-,-,-,-,-,-,-,-,-,...,-,-,7,-,-,-,-,-,-,7.00
22,NaN,-,-,-,-,-,-,-,-,0.76,...,4.5,-,-,-,-,-,-,-,-,5.26
23,NaN,4.73,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,4.73
24,NaN,3.72,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,3.72
25,NaN,-,-,0.76,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0.76
26,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
27,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
28,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
29,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
30,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [3]:
luxury_tax = luxury_tax.rename(columns={'Year': 'luxury_tax'})

In [4]:
luxury_tax = luxury_tax.loc[:0, :]

In [5]:
luxury_tax_melt = luxury_tax.melt(id_vars=['luxury_tax'], var_name='Season', value_name='Luxury Tax')

In [6]:
luxury_tax_melt = luxury_tax_melt.dropna()

In [7]:
luxury_tax_melt = luxury_tax_melt[['Season', 'Luxury Tax']]

In [8]:
def season_end(row):
    return int(row['Season']) + 1

luxury_tax_melt.loc[:, 'Season'] = luxury_tax_melt.apply(season_end, axis=1)
luxury_tax_melt

   Season Luxury Tax
0    2003    $52.88M
1    2004    $54.56M
2    2005     $0.00M
3    2006    $61.70M
4    2007    $65.42M
5    2008    $67.87M
6    2009    $71.15M
7    2010    $69.92M
8    2011    $70.31M
9    2012    $70.31M
10   2013    $70.31M
11   2014    $71.75M
12   2015    $76.83M
13   2016    $84.74M
14   2017   $113.29M
15   2018   $119.27M
16   2019   $123.73M
17   2020   $132.63M
18   2021   $132.63M
19   2022   $136.61M
20   2023   $150.27M
21   2024   $165.29M

In [9]:
def text_to_number(row):
    return int(float(row['Luxury Tax'][1:-1]) * 1_000_000)

luxury_tax_melt.loc[:, 'Luxury Tax'] = luxury_tax_melt.apply(text_to_number, axis=1)
luxury_tax_melt

   Season Luxury Tax
0    2003   52880000
1    2004   54560000
2    2005          0
3    2006   61700000
4    2007   65420000
5    2008   67870000
6    2009   71150000
7    2010   69920000
8    2011   70310000
9    2012   70310000
10   2013   70310000
11   2014   71750000
12   2015   76830000
13   2016   84740000
14   2017  113290000
15   2018  119270000
16   2019  123730000
17   2020  132630000
18   2021  132630000
19   2022  136610000
20   2023  150270000
21   2024  165290000

In [10]:
luxury_tax_melt.to_csv('./datasets/luxury_tax.csv', index=False)